<mat-toolbar>
    <a [routerLink]="'/home'"><img src="../../../assets/logo.png"></a>
    <a [routerLink]="'/history'" style="text-decoration: none;"><button mat-raised-button>Programari</button></a>
    <a [routerLink]="'/newconsult'" style="text-decoration: none;"><button mat-raised-button>Programeaza-te</button></a>
    <a [routerLink]="'/services'" style="text-decoration: none;"><button mat-raised-button>Servicii</button></a>
    <a [routerLink]="'/contact'" style="text-decoration: none;"><button mat-raised-button>Contact</button></a>
    <span class="example-spacer"></span>
    <a [routerLink]="'/admin'" *ngIf="(adminButtonService.visible)" style="text-decoration: none;">
        <button mat-raised-button style="color:white;">Admin</button>
    </a>
    <a class="logout-btn"  style="text-decoration: none;"><button (click)="clicked();" mat-raised-button>LOG OUT</button></a>
</mat-toolbar>
