mat-toolbar {
    
    height: 6rem;
    box-shadow: 0px 4px 20px 0px black;
    border-radius: 0 0 15px 15px;
}

img {
    height: 5rem;
    width: 14rem;
}
a {
    position: relative;
    margin-left: 2rem;
    height: 4rem;
    width: 15rem;
    
}
button {
    display: inline;
    font-size: 24px;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, rgb(255, 115, 0) , orange);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
  .avatar { 
      position: relative;
      right: -10rem;
      border-radius: 50%;
      background-color: orangered;
      max-height: 100%;
      max-width: 5rem;
  }
  .example-spacer {
    flex: 1 2 auto;
  }

