<div class="container">
    <div class="header">
        <h1>Mesaje</h1>
    </div>
<div class="note-grid">
    @for(note of notes; track note){
        <mat-card>
            <mat-card-title>ID: {{note.id}} , User:{{note.email}}</mat-card-title>
            <mat-card-content><b>Titlu: </b>{{note.title}}<br><b>Mesaj: </b>{{note.message}}<br>
            </mat-card-content>
            <div class="btn">
            <button class="delete" (click)="deleteService(note)" mat-raised-button>Sterge</button>
            <button class="mail" (click)="replyToUser(note.email)" mat-raised-button>Răspunde</button>
            </div>
        </mat-card>
        }
    </div>
</div>