<div class="container">
    <div class="header">
        <h1>Servicii</h1>
    </div>
<div class="service-grid">
    @for(service of services; track service){
        <mat-card>
            <mat-card-title>ID: {{service.id}}</mat-card-title>
            <mat-card-content><b>Denumire: </b>{{service.name}}<br><b>Pret: </b>{{service.price}} LEI<br>
            </mat-card-content>
            <div class="btn">
            <button class="delete" (click)="deleteService(service)" mat-raised-button>Sterge</button>
            <button class="edit" (click)="editService(service)" style="background-color: rgb(39, 39, 181);" mat-raised-button>Modifica</button>
            </div>
        </mat-card>
        }
        <mat-card>
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                <mat-label>Denumire</mat-label>
                <input matInput matInput type="text" formControlName="name">
                <mat-label>Pret</mat-label>
                <input matInput type="number" formControlName="price">
              <button class="submit" style="background-color: green;" mat-raised-button>Creeaza</button>
            </form>
            <mat-error *ngIf="serviceForm.get('price')?.hasError('required')">
                Prețul este obligatoriu.
              </mat-error>
              <mat-error *ngIf="serviceForm.get('price')?.hasError('min')">
                Prețul trebuie să fie mai mare sau egal cu 0.
              </mat-error>
        </mat-card>
    </div>
</div>