.container {
    height: 100vh;
    display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
    padding-top: 1rem;
    font-size: 3rem;
}
.header{
    height: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    background-color: white;
    text-align: center;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Design responsive */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  mat-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
  
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
  
    mat-card-title {
      font-size: 20px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
      text-align: center;
    }
  
    mat-card-content {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
  
      b {
        color: #000;
      }
    }
  }
  
  .btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  
    button {
      flex: 1;
      font-size: 14px;
      padding: 10px;
      border-radius: 8px;
      border: none;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &.delete {
        background-color: #e74c3c;
  
        &:hover {
          background-color: #c0392b;
        }
      }
  
      &.edit {
        background-color: #3498db;
  
        &:hover {
          background-color: #2980b9;
        }
      }
  
      &.history {
        background-color: #2ecc71;
  
        &:hover {
          background-color: #27ae60;
        }
      }
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    mat-label {
      font-size: 14px;
      font-weight: bold;
      color: #555;
    }
  
    input {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
  
      &:focus {
        border-color: #3498db;
        outline: none;
      }
    }
  
    .submit {
      font-size: 16px;
      padding: 10px;
      background-color: #2ecc71;
      color: white;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #27ae60;
      }
    }
  }