<mat-card class="service-dialog">
    <form [formGroup]="serviceForm">
      <div class="form-group">
        <mat-label>Denumire</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Introduceți denumirea" />
      </div>
  
      <div class="form-group">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" placeholder="Introduceți pretul" />
      </div>
  
      <div class="button-group">
        <button class="cancel" (click)="cancel()" mat-raised-button>Cancel</button>
        <button class="submit"(click)="onSubmit()" mat-raised-button>Submit</button>
      </div>
    </form>
  </mat-card>
  