<div class="container">
    <mat-card>
      <mat-card-title>Servicii KineTomi</mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="services" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Serviciu </th>
              <td mat-cell *matCellDef="let service"> {{service.name}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Preț </th>
              <td mat-cell *matCellDef="let service"> {{service.price | currency:'RON'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </mat-card-content>
    </mat-card>
</div>