mat-card {
    top: 10rem;
    transform: translateY(-30%);
    height: 40rem;
    width: 60rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0);
   
  }
  mat-card-title{
    padding-top:2rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  img {
    position: fixed;
    top: 20%;
    left: 15%;
    right: 10%;
    height: 50%;
    width: 32%;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(240, 63, 10) , orange);
    box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
  }
  
  mat-form-field {
    display: flex;
  }
  form {
    margin-top: 2rem;
  }
  ::ng-deep .mat-form-field-wrapper {
    margin: 1rem !important;
    padding: 0;
  }
  
  mat-label , input{
    padding-left: 1rem;
  }
  
  .inputSide {
    position: relative;
    text-align: center;
    font-size: 14px;
    top: 20%;
    left: 55%;
    width: 35%;
  }
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, rgb(255, 115, 0) , yellow);
  color: rgb(255, 255, 255);
  border-radius: 5rem;
  height: 3rem;
  width: 100%;

  }
  