
      <div class="container">
        <mat-card>
          <mat-card-title>Bine ai venit la KineTomi!</mat-card-title>
          <mat-card-content>
            <p>Suntem încântați să te avem aici! La KineTomi, ne dedicăm să te ajutăm să-ți recapeți sănătatea și mobilitatea prin programe personalizate de kinetoterapie. Fie că ești aici pentru a te recupera după o accidentare sau pentru a-ți îmbunătăți starea de bine generală, echipa noastră de experți este aici să te sprijine în fiecare pas al călătoriei tale.</p>
            <h3>De ce să ne alegi pe noi?</h3>
            <ul>
              <li><strong>Profesionalism și Experiență:</strong> Echipa noastră de kinetoterapeuți este formată din specialiști cu ani de experiență în domeniu, gata să te ajute să îți atingi obiectivele.</li>
              <li><strong>Programe Personalizate:</strong> Fiecare plan de tratament este adaptat nevoilor tale specifice, asigurându-ne că primești cea mai bună îngrijire posibilă.</li>
              <li><strong>Tehnologie de Vârf:</strong> Utilizăm cele mai recente tehnici și echipamente pentru a-ți oferi tratamente eficiente și de calitate.</li>
              <li><strong>Suport Continu:</strong> Suntem aici pentru tine, oferindu-ți suport continuu și răspunsuri la orice întrebări ai putea avea.</li>
            </ul>
            <h3>Ce poți face pe această pagină:</h3>
            <ul>
              <li><strong>Vezi Programările Tale:</strong> Consultă calendarul cu toate sesiunile tale viitoare și planifică-ți timpul eficient.</li>
              <li><strong>Accesează Exercițiile Recomandate:</strong> Urmează instrucțiunile pentru exercițiile personalizate pentru a-ți îmbunătăți starea de sănătate.</li>
              <li><strong>Consultă Istoricul Vizitelor:</strong> Revizuiește sesiunile anterioare și urmărește progresul tău.</li>
              <li><strong>Contactează-ne:</strong> Ai întrebări sau nevoie de ajutor? Echipa noastră este la un click distanță.</li>
            </ul>
            <p>Împreună, vom lucra pentru a-ți reda sănătatea și mobilitatea, astfel încât să poți trăi o viață activă și fără dureri. Mulțumim că ai ales KineTomi! Suntem aici să te ajutăm să îți atingi obiectivele de sănătate și recuperare.</p>
          </mat-card-content>
        </mat-card>
      </div>