.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80vh; /* Înălțime limitată */
    margin: 0 auto; /* Centrare pe orizontală */
    position: relative;
    overflow-x: hidden; /* Ascunde doar overflow-ul orizontal */
  }
  
  .header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh; /* Limitează zona de conținut */
    overflow: hidden;
  
    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
    }
  }
  
  .programari,
  .istoric {
    display: flex;
    flex-direction: column;
    width: 48%; /* Secțiunile ocupă câte 48% */
    height: 100%;
    overflow-y: auto; /* Permite derularea pe verticală */
    padding-right: 10px; /* Adaugă spațiu pentru scrollbar */
  
    .consult-grid {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrează conținutul pe orizontală */
      justify-content: flex-start; /* Aliniază conținutul la început */
      gap: 10px;
      overflow-y: auto; /* Permite derularea programărilor */
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;
  
      &::-webkit-scrollbar {
        width: 8px;
      }
  
      &::-webkit-scrollbar-track {
        background: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 10px;
      }
    }
  
    .empty-placeholder {
      font-size: 16px;
      color: #888;
      text-align: center;
      margin-top: 20px;
    }
  }
  
  h2 {
    font-size: 20px;
    font-weight: 500;
    color: #555;
    margin-bottom: 15px;
    text-align: left;
  }
  
  mat-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
  
    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  
    mat-card-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #333;
    }
  
    mat-card-content {
      font-size: 14px;
      color: #666;
      margin-bottom: 15px;
    }
  
    &.future {
      background-color: #e8f5e9; /* Verde deschis pentru programările viitoare */
    }
  
    &.past {
      background-color: #fbe9e7; /* Portocaliu deschis pentru istoricul */
    }
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  
    button {
      background-color: #00796b;
      color: white;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #004d40;
      }
    }
  }
  
  .btn {
    display: flex;
    justify-content: flex-end;
  
    .delete {
      background-color: #f44336;
      color: white;
      font-size: 14px;
      padding: 5px 15px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s;
  
      &:hover {
        background-color: #d32f2f;
      }
    }
  }
  
  .close-button {
    position: absolute;
    bottom: 20px; /* Centrat jos */
    left: 50%;
    transform: translateX(-50%);
    background-color: #00796b;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: #004d40;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  