<div class="container">
    <div class="header">
        <h1>Users</h1>
    </div>
<div class="user-grid">
    @for(user of users; track user){
        <mat-card>
            <mat-card-title>ID: {{user.id}}</mat-card-title>
            <mat-card-content><b>Email:</b> {{user.email}}<br><b>parola:</b> {{user.password}}<br>
               <b>isAdmin: </b>{{user.isAdmin}}
            </mat-card-content>
            <div class="btn">
            <button class="delete" (click)="deleteUser(user)" mat-raised-button>Sterge</button>
            <button class="edit" (click)="editUser(user)" style="background-color: rgb(39, 39, 181);" mat-raised-button>Modifica</button>
            <button class="history" (click)="showHistoryUser(user)" style="background-color: rgb(4, 91, 37);" mat-raised-button>Programari</button>
            </div>
        </mat-card>
        }
        <mat-card>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <mat-label>Email</mat-label>
                <input matInput matInput type="email" formControlName="email">
                <mat-label>Parola</mat-label>
                <input matInput type="password" formControlName="password">
              <button class="submit" style="background-color: green;" mat-raised-button>Creeaza</button>
            </form>
        </mat-card>
    </div>
</div>