<mat-card class="user-dialog">
  <form [formGroup]="userForm">
    <div class="form-group">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Introduceți email-ul" />
    </div>

    <div class="form-group">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Introduceți parola" />
    </div>

    <div class="checkbox-group">
      <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
    </div>

    <div class="button-group">
      <button class="cancel" (click)="cancel()" mat-raised-button>Cancel</button>
      <button class="submit"(click)="onSubmit()" mat-raised-button>Submit</button>
    </div>
  </form>
</mat-card>
