<div class="container">
    <div class="header">
      <h1>Programari</h1>
    </div>
    
    <div class="content">
      <!-- Secțiunea Programări Viitoare -->
      <div class="programari">
        <h2>Programări Viitoare</h2>
        <div class="consult-grid">
          <ng-container *ngIf="futureConsults.length > 0; else noFuture">
            <mat-card class ="future" *ngFor="let futureConsult of futureConsults; trackBy: trackConsult">
              <mat-card-title>Serviciu: {{futureConsult.service}}</mat-card-title>
              <mat-card-content>
                <b>Data:</b> {{futureConsult.date | date: 'dd.MM.yyyy'}}<br>
                <b>Ora:</b> {{futureConsult.date | date: 'HH:mm'}}
              </mat-card-content>
              <div class="btn">
                <button class="delete" (click)="deleteConsult(futureConsult)" mat-raised-button>Sterge</button>
              </div>
            </mat-card>
          </ng-container>
          <ng-template #noFuture>
            <div class="empty-placeholder">Nicio programare viitoare</div>
          </ng-template>
        </div>
      </div>
      
      <!-- Secțiunea Istoric -->
      <div class="istoric">
        <h2>Istoric Programări</h2>
        <div class="consult-grid">
        <ng-container *ngIf="oldConsults.length > 0; else noHistory">
          <mat-card class="past" *ngFor="let oldConsult of oldConsults; trackBy: trackConsult">
            <mat-card-title>Serviciu: {{oldConsult.service}}</mat-card-title>
            <mat-card-content>
              <b>Data:</b> {{oldConsult.date | date: 'dd.MM.yyyy'}}<br>
              <b>Ora:</b> {{oldConsult.date | date: 'HH:mm'}}
            </mat-card-content>
          </mat-card>
        </ng-container>
        <ng-template #noHistory>
            <div class="empty-placeholder">Nu exista istoric</div>
          </ng-template>
        </div>
      </div>
    </div>
  
    <!-- Butonul de Închidere -->
        <button class="close-button" (click)="dialogRef.close()">Închide</button>

  </div>
  