.user-dialog {
    max-width: 400px;
    margin: 20px auto;
    padding: 25px;
    background: linear-gradient(135deg, #f8f9fa, #ffffff);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', Arial, sans-serif;
  
    .form-group {
      margin-bottom: 20px;
  
      mat-label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        margin-bottom: 5px;
      }
  
      input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
  
        &:focus {
          outline: none;
          border-color: #007bff;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
        }
      }
    }
  
    .checkbox-group {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
  
      mat-checkbox {
        font-size: 14px;
        color: #555;
  
        .mat-checkbox-label {
          font-weight: 500;
        }
      }
    }
  
    .button-group {
      display: flex;
      justify-content: space-between;
  
      button {
        flex: 1;
        margin: 0 10px;
        padding: 12px 15px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        transition: all 0.2s ease;
  
        &.cancel {
          background-color: #dc3545;
          color: white;
  
          &:hover {
            background-color: #c82333;
            transform: translateY(-2px);
          }
        }
  
        &.submit {
          background-color: #28a745;
          color: white;
  
          &:hover {
            background-color: #218838;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  