  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card{
    position: relative;
    top: 0rem;
    margin: 0 auto;
    display: flex;
    height: 20rem;
    width: 40rem;
    margin-top: 15px;
}
mat-card-content {
    position: absolute;
    top: 35%;
}
h1{
    text-align: center;
}
mat-label {
    margin-left: 1rem;
    display: flex;
}
input {
    margin-left: 1rem;
    width: 80%;
}
textarea {
    margin-left: 1rem;
    width: 80%;
    height: 50%;
}

.submit {
    width: 150px;
    top: 10px;
    margin: 1rem;
    
}