<div class="container">
    <mat-card class="input">
        <h1>Contact KineTomi</h1>
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
              <mat-label>TITLE</mat-label>
              <input matInput matInput type="title" formControlName="title"> 
              <mat-label>MESSAGE</mat-label>
              <textarea matInput type="message" formControlName="message"></textarea>
            <button class="submit" mat-raised-button>submit</button>
          </form>
    </mat-card>
</div>