/* You can add global styles to this file, and also import other style files */

html, body { background: linear-gradient(to right, #f12711, #f5af19); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
