<div class="container">
    <div class="header">
      <h1>Programări viitoare</h1>
    </div>

      <mat-form-field appearance="fill">
        <mat-label>Selectează data</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (ngModelChange)="filterConsults()" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <div class="search-container">
        <input
          type="text"
          placeholder="Caută utilizator"
          [(ngModel)]="userSearchQuery"
          (input)="filterConsults()"
          class="search-bar"
        />
      </div>
  
      <mat-form-field appearance="fill">
        <mat-label>Selectează serviciu</mat-label>
        <mat-select [(value)]="selectedService" (selectionChange)="filterConsults()">
          <mat-option [value]="null">Toate serviciile</mat-option>
          <mat-option *ngFor="let service of services" [value]="service">{{ service }}</mat-option>
        </mat-select>
      </mat-form-field>

  
    <div class="consult-grid">
      <mat-card *ngFor="let consult of filteredConsults">
        <mat-card-title>ID: {{ consult.id }}</mat-card-title>
        <mat-card-content>
          <b>Client: </b>{{ consult.user.email }}<br />
          <b>Serviciu: </b>{{ consult.service }}<br />
          <b>Data: </b>{{ consult.date | date: 'dd.MM.yyyy' }}<br />
          <b>Ora: </b>{{ consult.date | date: 'HH:mm' }}
        </mat-card-content>
        <div class="btn">
          <button class="delete" (click)="deleteConsult(consult)" mat-raised-button>Sterge</button>
        </div>
      </mat-card>
    </div>
  </div>
  