mat-card{
    top: 0rem;
    margin: 0 8rem 1rem 0;
    height: 15rem;
    width: 30rem;
    margin-top: 20px;
    text-align: center;
}

button{
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 1rem;
    background-color: red;
    color: rgb(255, 255, 255);
    width: 19rem;
    height: 5rem;
    }
mat-card-title{
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  mat-card-content{
    padding-top: 1rem;
    font-size: 1rem;
  }
.container {
    height: 100vh;
}
h1{
    padding-top: 1rem;
    font-size: 3rem;
}
.header{
    height: 4rem;
    margin-top: 3rem;
    width: 100%;
    background-color: white;
    text-align: center;
}
.consult-grid {
    margin-left: 4rem;
    margin-top: 3rem;
    display:flex;
    justify-self: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}