<div class="container">
<div class="header">
    <h1>Programari</h1>
</div>
<div class="consult-grid">
@for(futureConsult of futureConsults; track consult){
    <mat-card>
        <mat-card-title>Serviciu: {{futureConsult.service}}</mat-card-title>
        <mat-card-content><b>Data:</b> {{futureConsult.date | date: 'dd.MM.yyyy'}}<br><b>Ora:</b> {{futureConsult.date | date: 'HH:mm'}}</mat-card-content>

    
        <div class="btn">
        <button class="delete" (click)="deleteConsult(futureConsult)" mat-raised-button>Sterge</button>
        </div>
    </mat-card>
    }
</div>
<div class="header">
    <h1>Istoric</h1>
</div>
<div class="consult-grid">
@for(oldConsult of oldConsults; track consult){
    <mat-card>
        <mat-card-title>Serviciu: {{oldConsult.service}}</mat-card-title>
        <mat-card-content><b>Data:</b> {{oldConsult.date | date: 'dd.MM.yyyy'}}<br><b>Ora:</b> {{oldConsult.date | date: 'HH:mm'}}</mat-card-content>
        <div class="btn">
            <button class="delete" style="background-color: gray;" mat-raised-button>Trecut</button>
            </div>
    </mat-card>
    }
</div>
</div>  