<div class="container">
    <mat-card>
        <a [routerLink]="'/admin/user-management'" style="text-decoration: none;"><button mat-raised-button>User Control Panel</button></a>
        <a [routerLink]="'/admin/consult-management'" style="text-decoration: none;"><button mat-raised-button>Consult Control Panel</button></a>
        <a [routerLink]="'/admin/service-management'" style="text-decoration: none;"><button mat-raised-button>Service Control Panel</button></a>
        <a [routerLink]="'/admin/contact-management'" style="text-decoration: none;"><button mat-raised-button>Message Control Panel</button></a>
    </mat-card>
    
    <router-outlet></router-outlet>
</div>