<div class="container">
    <mat-card>
        <mat-card-title>Programare</mat-card-title>
        <mat-form-field class="example-full-width">
            <mat-label>Alege o data</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="dateControl">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <mat-card-actions>
            <div class="button-grid">
            @for(hour of hours; track hour){
            <button [ngStyle]="{'background-color': getStatusColor(hour.status)}" 
            [disabled]="isDisabled(hour.status)" 
            mat-button (click)="addConsult(hour.time,dateControl.value)" >{{hour.time}}</button>
            }
        </div>
          </mat-card-actions>
    </mat-card>
</div>