<h1 mat-dialog-title align="center">Programare</h1>
<div mat-dialog-content align="center">
  <h1>Ai selectat ora: {{ data.hour }}</h1>
  <mat-form-field>
    <mat-label>Selecteaza un serviciu</mat-label>
    <mat-select [(value)]="selected" [formControl]="selectControl" required>
      <mat-option *ngFor="let service of services" [value]="service.name">
        {{ service.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectControl.hasError('required')">
      Te rugăm să selectezi un serviciu!
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onSubmit()">Progreamaza-te</button>
  <button mat-button mat-dialog-close (click)="cancel()">Anuleaza</button>
</div>