button{
    display:list-item;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 24px;
    letter-spacing: 2px;
    background-color: rgb(250, 166, 0);
    color: rgb(255, 255, 255);
    width: 19rem;
    height: 5rem;
}
mat-form-field{
    width: 80%;
}