mat-card {
    top: 10rem;
    transform: translateY(-30%);
    height: 40rem;
    max-width: 80rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0);
   
  }
  mat-card-title{
    padding-top:2rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-grid {
    margin-top: 3rem;
    display:flex;
    flex-wrap: wrap;
    }
  button{
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 2rem;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: green;
  color: rgb(255, 255, 255);
  width: 19rem;
  height: 5rem;
  }

  
